body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f5f7;
    color: #333;
}

.container {
    width: 98%;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    color: #333;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.toggle-switch {
    position: relative;
    width: 60px;
    display: inline-block;
    text-align: left;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 24px;
    padding: 0;
    line-height: 24px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #ddd;
    transition: background-color 0.3s ease-in;
}

.toggle-switch-label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background: white;
    border-radius: 50%;
    transition: margin 0.3s ease-in;
}

.toggle-switch-checkbox:checked + .toggle-switch-label {
    background-color: #007bff;
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
    margin-left: 36px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn:hover:enabled {
    background-color: #0056b3;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
    color: #333;
}

#results {
    text-align: left;
    margin-top: 20px;
}

#mattress-list {
    text-align: left;
    margin-top: 20px;
}

#mattress-list p {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#mattress-list p:hover {
    background-color: #0056b3;
}

.delete-btn {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s;
}

.delete-btn:hover {
    color: #cc0000;
}

.form-group-2 {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 5px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
}

.field-group {
    flex: 1; 
    display: flex;
    flex-direction: column; 
   
}

.layer-container .layer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.layer-container .layer-button:hover {
    background-color: #0056b3;
}

.layer-container .layer-button .delete-btn {
    color: white;
}

#visualization {
    margin-top: 30px;
}

#canvas {
    width: 100%;
    border: 1px solid #000;
}
